@font-face {
    font-family: Montserrat-Italic;
    src: url("../font/Montserrat-Italic-VariableFont_wght.woff");
}

@font-face {
    font-family: Montserrat-VariableFont;
    src: url("../font/Montserrat-VariableFont_wght.woff");
}

:root {
    --Mont-italic: "Montserrat-Italic";
    --Mont-Vari: "Montserrat-VariableFont";
    --color-textB: #4D4D4D;
    --color-text: #FFF;
    --Title-color: #481C03;
    --Ocolor: #FE9E45;
}

body {
    background-color: #4D4D4D;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header */
.header {
    left: 0;
    right: 0;
    padding-top: 15px;
    position: absolute;

}

.header__inner {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(232, 232, 232, 0.50);
}

.meni__list {
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.menu__link {
    display: inline-block;
    margin-left: 40px;
    font-family: var(--Mont-Vari);
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    font-size: 24px;
}

.menu__item-border a {
    max-width: 240px;
    position: relative;
    padding: 15px 22px;
    border: 1px solid #FE9E45;
}

.menu__link-orange {
    position: absolute;
    width: 100%;
    font-size: 24px;
    font-family: var(--Mont-Vari);
    color: #FE9E45;
    margin-left: 81px;
}

/* код слайдера */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 100px;
    height: 2px;

}

/* hero */
.hero {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 260px;

}

.hero__text {
    font-family: var(--Mont-Vari);
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 50px;
}

.hero__card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 76px;
    margin-bottom: 80px;
}

.card__text {
    font-family: var(--Mont-Vari);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-text);
}

.hero__title {
    max-width: 920px;
    font-family: var(--Mont-Vari);
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 100px;
}

.hero__title span {
    color: var(--Ocolor);
}

.hero__btn {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: var(--Mont-Vari);
    font-weight: 700;
    text-align: center;
    color: var(--color-text);
    padding: 16px 20px;
    background-color: #FE9E45;
    box-shadow: 0px 0px 15px 2px #FF6711;
}

.hero__btn span {
    margin-left: 5px;
}